<div class="container">
    <div class="content">
        <div class="infor-content">
            <div class="post">
                <div class="text">
                    <span>Bem-vindo ao SiReuni!</span><br>
                    <div class="text-intro">
                        Conheça pessoas, compartilhe e descubra<br>novas receitas e claro, <span>divirta-se!</span>
                    </div>
                </div>

                <div class="img-intro">
                    <img src="./img/Maçã.png" width="100%">
                </div>
            </div>
        </div>

        <div class="button">
            <button>
                <i class="fa fa-plus"></i>
                Novo Post
            </button>
        </div>

        

    </div>
</div>