<div class="container">
    
    <div class="login">
        
        <div class="logo">
            <img src="/img/Logo.png" width="100%">
        </div>


        <div class="acesso">

            <form action="/usuarios/login" method="POST">
                <div class="user">
                    <label for="matricula"></label>
                    <input type="matricula" class="dados" name="matricula" placeholder="Matrícula" required>
                </div>
                
                <div class="user senha">
                    <label for="senha"></label>
                    <input type="password" class="dados" name="senha" placeholder="Senha" required>
                </div>

                <button class="button" type="submit">Entrar</button>
            </form>

        </div>

    </div>
</div>
