<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <div class="logo">
        <a href="/"><img src="/img/logo1.png" width="100%"></a>
    </div>
        
    <div class="buscar">
        <input type="text" placeholder="Pesquise...">
        <i class="fa fa-search"></i>
    </div>

    <div class="perfil">
        <div class="user">
            <i class="fa fa-user-circle"></i>
        </div>
    </div>
</header>

<div class="container">
    <div class="sidebar">
        <a class="buttons" href="/">Comunidade</a>
        <a class="buttons" href="/receitas">Receitas</a>
        <a class="buttons" href="/forum">Fórum</a>
        <a class="buttons" href="/eventos">Evento</a>
        <a class="buttons" href="/contato">Contato</a>
    </div>
</div>


