{{>_navbar}}

<div class="mini-container">
    <div class="row-2">
        <div class="text">
            <span>Conheça mais o serviço de Nutrição</span>
        </div>

        <div class="text-forum">
            <img src="/img/logo_nutricao.png">
            
            A alimentação saudável é essencial para a manutenção da saúde e deve estar baseada em práticas alimentares que tenham significado social e cultural, além de ser acessível do ponto de vista físico e financeiro. Considerando esses aspectos, a orientação nutricional tem por objetivo auxiliar os discentes do Campus da UFC em Quixadá a adotar hábitos mais saudáveis.
        </div>

        <div class="text-forum" id="nomegenerico">
            Semestralmente, são ofertados grupos de reeducação alimentar, com atividades que incluem revisão dos hábitos alimentares e estímulo à adequação das necessidades que propiciem saúde e bem estar. Inscrições somente para a comunidade acadêmica da UFC. Dúvidas devem ser enviadas para o e-mail: nutricao@quixada.ufc.br.
        </div>

        <div class="text-forum" id="nomegenerico">
            Para conheçer mais o sistema clique abaixo.
            <button class="button">Serviço de Nutrição</button>
        </div>

    </div>
</div>